name: trainer-service

on:
  push:
    branches: [ "main" ]
 

jobs:
  build:

    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn -B package --file pom.xml
    - name: Execute Jar File
      run: sudo kill -9 sudo lsof -t -i:8081 & sudo java -jar /root/actions-runner/_work/system-api/system-api/target/system-api-0.0.1-SNAPSHOT.jar &
