name: CI/CD Pipeline - Gradle

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: self-hosted  # EC2 runner
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'corretto'
          cache: 'gradle'

      - name: Cache Gradle packages
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Build with Gradle
        run: |
          ./gradlew clean build --no-daemon

      - name: Test
        run: |
          ./gradlew test --no-daemon

      - name: Run App
        run: |
          ./gradlew bootRun --no-daemon &
          sleep 10  # Wait for app to start
          curl http://localhost:8081/api/v1/tests
