name: CI/CD Pipeline - Gradle

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'corretto'
          cache: 'gradle'

      - name: Fix Gradle Permissions
        run: |
          chmod +x ./gradlew

      - name: Build & Test
        run: |
          ./gradlew clean build --no-daemon

      - name: Run Spring Boot App
        run: |
          ./gradlew bootRun --no-daemon &
          echo "Waiting for app to start..."
          sleep 15
          curl -f http://localhost:8081/api/v1/tests || exit 1
